<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Яндекс.Диск Браузер</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Яндекс.Диск Браузер</h1>

        <form method="post">
            <div class="form-group">
                <label for="public_key">Публичная ссылка:</label>
                <input type="text" class="form-control" id="public_key" name="public_key" required>
            </div>
            <div class="form-group">
                <label for="filter_type">Фильтр по типу:</label>
                <select class="form-control" id="filter_type" name="filter_type">
                    <option value="">Все типы</option>
                    <option value="file">Только файлы</option>
                    <option value="dir">Только папки</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Получить список файлов</button>
        </form>

        {% if error_message %}
            <div class="alert alert-danger mt-3">{{ error_message }}</div>
        {% endif %}

        {% if files %}
            <h2>Файлы:</h2>
             <form method="post" action="/download">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Выбрать</th>
                        <th>Имя</th>
                        <th>Тип</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in files %}
                        <tr>
                            <td>
                                {% if file.type == 'file' %}
                                     <input type="checkbox" name="selected_files" value="{{ file.name }}||{{ file.file }}">
                                {% endif %}
                            </td>
                            <td>{{ file.name }}</td>
                            <td>{{ file.type }}</td>

                        </tr>
                    {% endfor %}
                </tbody>
            </table>
              <button type="submit" class="btn btn-success">Скачать выбранные</button>
             </form>
        {% endif %}
    </div>
</body>
</html>